<div class="test" *ngIf="isValid">
<div class="example-container" *ngFor="let list of weeks">
    <div class="header">
        <div class="card-name">{{list.name}}</div>
        <div class="icons">
            <button type="button"><mat-icon>edit</mat-icon></button>
            <button type="button" (click)="deleteList(list.id)"> <mat-icon>delete</mat-icon></button>
        </div>
    </div>
    
    <div
      cdkDropList
      id={{list.id}}
      [cdkDropListData]="list.weeklist"
      [cdkDropListConnectedTo]="connectedTo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of list.weekList" cdkDrag>
        <div class="move-logo"><mat-icon>drag_indicator</mat-icon></div>
        <div class="main-title">{{item}}</div>
        <div class="options"><mat-icon>more_vert</mat-icon></div>
        </div>
    </div>
    <div class="add-task"><button (click)="addNewTask(list.id)" [disabled]="addTaskForm.invalid"><mat-icon>add</mat-icon>Add Task</button></div>
    <form action="" [formGroup]="addTaskForm">
        <input type="text" formControlName="cardTitleName">
    </form>
    
  </div>
  
</div>
  